#Inventory {position: absolute; z-index:3;   padding-top: 50px}
.pics {width: 70px; height: 70px}
.storeItem {padding: 10px 30px 10px 30px}
.button{background:    #d9ead3;
background:    -webkit-linear-gradient(#4c1130, #d9ead3 50%, #4c1130);
background:    linear-gradient(#4c1130, #d9ead3 50%, #4c1130);
border:        5px solid #274e13;
border-radius: 1000px;
padding:       8px 11px;
color:         #00ff00;
display:       inline-block;
font:          normal 400 13px/1 "Pacifico", cursive;
text-align:    center;
text-shadow:   1px 1px #000000;
}
